/************ CSS RESET *************/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

select, input, button, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select:focus, input:focus, button:focus, textarea:focus {
    outline: none;
}
textarea {
    resize: none;
}
a {
    text-decoration: none;
    color: #000;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

/************* CSS RESET END *****************/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

html, body {
    width: 100%;
    height: 100%;
    font: bold 14px/18px 'Play', sans-serif;
}
h2 {
    font: bold 30px/34px 'Play', sans-serif;
    color: #000;
    margin: 0 0 30px;
}
h3 {
    font: bold 24px/30px 'Play', sans-serif;
    color: #000;
    margin: 0 0 15px;
}
h5 {
    font: bold 18px 'Play', sans-serif;
    color: #000;
}
h6 {
    font: bold 14px 'Play', sans-serif;
    color: #000;
    margin: 0 0 10px;
}
body.no_scroll {
    overflow: hidden;
    box-sizing: border-box;
}
#wrapper {
    width: 100%;
    background: #000c16;
    position: relative;
}
#main_bg {
    background: url("../images/main_bg.png") no-repeat 0 0;
    background-size: cover;
    width: 100%;
    min-height: 500px;
    height: 94%;
    max-height: 1186px;
    position: absolute;
    top: 50px;
    left: 0;
}
#header {
    min-height: 100px;
    width: 100%;
    background: url('../images/header_bg.png') no-repeat 0 0;
    background-size: cover;
    position: relative;
}
#main_content {
    background: #fff;
    width: 1220px;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    position: relative;
    margin: 0 auto;
    padding: 32px 30px;
    box-sizing: border-box;
}
#wrapper .container {
    width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
}
#logo {
    margin: 0 20px 0 0;
    padding: 13px 0 15px 20px;
    width: 70px;
    height: 70px;
    float: left;
}
#logo a {
    display: block;
}
#logo img {
    width: 100%;
}
#main_menu {
    width: 800px;
    float: left;
    margin: 0 0 0 3px;
}
#main_menu li {
    float: left;
    box-sizing: border-box;
    background: url('../images/menu_item_bg.png') no-repeat top 22px right -1px;
    margin-left: -3px;
}
#main_menu li:last-child {
    /*padding-right: 0;*/
    background: none;
}
#main_menu li:hover {
    /*background-color: rgba(0, 0, 0, 0.07);*/
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.4);
}
#main_menu li.active {
    background: url('../images/menu_item_active_bg.png') no-repeat 0 0;
    background-size: cover;
}
#main_menu li a {
    font-size: 16px;
    color: #fff;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.7);
    padding: 40px 23px 40px 23px;
    display: block;
}
#header_profile {
    width: 290px;
    float: right;
    text-align: right;
    padding: 10px 0;
}
#header_profile .info {
    width: 210px;
    float: left;
    box-sizing: border-box;
    padding: 9px 0 0;
}
#header_profile .info h4.name {
    background: #000;
    display: inline-block;
    border-radius: 3px 0 0 3px;
    line-height: 30px;
    padding: 0 10px;
    color: #ffffff;
    font-size: 18px;
}
.info .desc {
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
.info .desc .cash {
    line-height: 25px;
    margin: 0 1px 0 0;
}
.info .desc .icon {
    background: rgba(0, 0, 0, 0.3);
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    /*min-width: 30px;*/
    position: relative;
    margin: 0 0 0 4px;
    display: inline-block;
    vertical-align: top;
    height: 25px;
    box-sizing: border-box;
    cursor: pointer;
}
.info .desc .cash_icon {
    color: #66cc66;
    font-size: 22px;
    line-height: normal;
    padding: 4px 7px;
}
.info .desc .cash_icon .fa {
    display: block;
    margin: -2px 0 0;
}
.desc .icon .count {
    min-width: 12px;
    height: 12px;
    box-sizing: border-box;
    background: #ffd200;
    border-radius: 50%;
    color: #000000;
    font: 8px/12px 'PT Sans', sans-serif;
    position: absolute;
    top: 2px;
    right: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
#header_profile .avatar {
    width: 80px;
    height: 80px;
    float: right;
    box-sizing: border-box;
    border: 2px solid #fff;
    overflow: hidden;
}
#header_profile .avatar a {
    display: block;
    width: 100%
}
#header_profile .avatar img {
    width: 100%;
}

#footer {
    background: #262626;
    color: #fff;
    position: relative;
}
#footer a {
    color: #fff;
    text-decoration: underline;
}
#footer .container {
    padding: 35px 60px 30px;
}
#footer .footer_lists_holder {
    width: 100%;
    margin: 0 0 25px;
}
.footer_lists_holder .footer_list_block {
    width: 210px;
    float: left;
    margin: 0 19px 0 0;
}
.footer_lists_holder .footer_list_block:first-child {
    width: 290px;
}
#footer h3 {
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 8px;
    color: #fff;
}
.footer_list_block li {
    font: 14px/18px 'PT Sans', sans-serif;
    padding: 0 0 8px;
}
.footer_list_block li i {
    margin: 0 5px 0 0;
}
#footer .copyright {
    font: 14px/18px 'PT Sans', sans-serif;
    margin: 0 0 0 2px;
}
.footer_lists_holder .payment_block {
    width: 321px;
    float: right;
}
.payment_block .systems_holder {
    height: 60px;
    padding: 4px 0 0;
}
.footer_lists_holder .payment_block img {
    height: 100%;
    margin: 0 7px 0 0;
}
.footer_lists_holder .payment_block img:last-child {
    margin-right: 0;
}




#main_content h1 {
    font-size: 30px;
    line-height: 36px;
    color: #000;
    margin: 0 0 29px;
}
#main_content .buy_block {
    width: 100%;
}
.buy_block {
    margin: 0 0 18px;
}
.buy_block .title_block {
    margin: 0 0 23px;
}
.buy_block .title_block h3 {
    font-size: 24px;
    line-height: 30px;
    color: #000;
}
.buy_block .title_block p {
    font: 14px/16px 'PT Sans', sans-serif;
    margin-bottom: 2px;
    display: inline-block;
}
.buy_block .item {
    width: 168px;
    float: left;
    margin: 0 30px 23px 0;
}
.buy_block .item:nth-child(6n) {
    margin-right: 0;
}
.buy_block .item a {
    display: block;
}
.buy_block .item .image_block {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.item .image_block img {
    width: 100%;
}
.item .image_block .price {
    clear: both;
    position: absolute;
    bottom: 10px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 5px;
}
.image_block .price span {
    max-width: 80%;
    float: left;
    color: #fff;
    font-size: 22px;
    line-height: 25px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding-right: 10px;
}
.image_block .price span.icon {
    width: 25px;
    float: right;
    height: 25px;
    overflow: hidden;
    padding: 0;
}
.price span.icon img {
    width: 100%;
}
.buy_block .item .title {
    font: 11px/12px 'PT Sans', sans-serif;
    width: 100%;
    padding: 0 5px 0 0;
    overflow: hidden;
    box-sizing: border-box;
    word-break: break-all;
    color: #000;
    height: 12px;
}
.buy_block.four_columns .item {
    width: 267px;
}
.buy_block.four_columns .item:nth-child(6n) {
    margin-right: 30px;
}
.buy_block.four_columns .item:nth-child(4n) {
    margin-right: 0;
}
.buy_block.three_columns .item {
    width: 366px;
}
.buy_block.three_columns .item:nth-child(6n) {
    margin-right: 30px;
}
.buy_block.three_columns .item:nth-child(3n) {
    margin-right: 0;
}
.buy_block .chart {
    padding: 0 8px;
    width: 100%;
    box-sizing: border-box;
}
.buy_block .chart img {
    width: 100%;
}
.buy_block.buy_history .title_block {
    margin-bottom: 30px;
}
.buy_block span.buy_icon {
    width: auto;
    background: #cc0000;
    border-radius: 4px;
    padding: 0 10px 0 8px;
    line-height: 30px;
    font-size: 24px;
    color: #fff;
    display: inline-block;
    margin: 0 12px 0 0;
}
.buy_block.buy_history .title_block h3 {
    display: inline-block;
    width: 75%;
}
.buy_block.buy_history .title_block .show_all {
    color: #cc0000;
    text-decoration: underline;
    font: 16px/30px 'PT Sans', sans-serif;
    font-weight: bold;
    float: right;
}
.buy_block.buy_history .item {
    width: 140px;
}
.buy_block.buy_history .item:nth-child(6n) {
    margin-right: 30px;
}
.buy_block.buy_history .item:nth-child(7n) {
    margin-right: 0;
}

.buy_block.market .item {
    width: 140px;
    margin-right: 10px;
    margin-bottom: 14px;
}
.buy_block.market .item:nth-child(6n) {
    margin-right: 0;
}


    /************* INDEX PAGE ******************/
#main_content .market_holder {
    margin: 0 0 30px;
}
#main_content .left_sidebar {
    width: 238px;
    float: left;
    margin: 0 30px 0 0;
    border: 1px solid #d7d7d7;
}
.left_sidebar .search_block {
    background: #f2f2f2;
    padding: 19px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #d7d7d7;
}
.left_sidebar .search_block input {
    width: 100%;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    color: #666666;
    height: 30px;
    box-sizing: border-box;
    padding: 0 40px 0 10px;
}
.left_sidebar .search_block form {
    position: relative;
}
.left_sidebar .search_block .submit_search {
    background: #cc0000;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.1s ease 0.1s;
}
.left_sidebar .search_block .submit_search:hover {
    background: rgba(204, 0, 0, 0.75);
}
.left_sidebar .search_filters {
    padding: 20px 19px 19px;
    width: 100%;
    box-sizing: border-box;
}
.search_filters .market_list {
    margin: 0 0 15px;
}
.market_list .item {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    padding: 9px;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    float: left;
    margin: 0 10px 0 0;
}
.market_list .item:last-child {
    margin-right: 0;
}
.market_list .item:hover {
    /*border-color: #009900;
    background: rgba(0, 153, 0, 0.04);*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.market_list .item img {
    width: 100%;
    height: 100%;
}
.left_sidebar .filters_holder {
    width: 100%;
}
.filters_holder .input_holder {
    margin: 0 0 15px;
}
.filters_holder .input_holder label {
    color: #000;
    margin: 0 0 5px;
    font: bold 18px/25px 'Play';
}
.input_holder input, .input_holder textarea {
    border: 1px solid #cdcdcd;
    background: #fff;
    border-radius: 3px;
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
    color: #666666;
    font: 14px/30px 'PT Sans', sans-serid;
}
.left_sidebar .bottom_label {
    line-height: 20px;
    width: 100%;
    box-sizing: border-box;
    background: #e6e6e6;
    padding: 5px;
    overflow: hidden;
    border-radius: 3px;
}
.bottom_label span {
    font: 14px/20px 'PT Sans', sans-serif;
    color: #000;
    float: left;
}
.bottom_label span.icon {
    padding: 3px 5px;
    background: #009900;
    color: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    float: left;
    margin: 0 11px 0 0;
    line-height: 13px;
}


/* sorter block */

#main_content .content_holder {
    width: 890px;
    float: left;
}
.content_holder .sorter_holder {
    margin: 5px 0 15px;
    font: 14px/20px 'PT Sans', sans-serif;
    color: #000;
    overflow: hidden;
}
.sorter_holder .sorter_title {
    float: left;
    display: inline-block;
    margin: 0 25px 0 0;
    font-weight: bold;
}
.sorter_holder .sorter {
    float: left;
    overflow: hidden;
    width: auto;
}
.sorter li {
    float: left;
    display: inline-block;
    margin: 0 1px 0 0;
    border-radius: 3px;
    cursor: pointer;
}
.sorter li:hover {
    background: rgba(204, 0, 0, 0.1);
    /*color: #fff;*/
}
.sorter li a, .sorter li span {
    display: block;
    padding: 0 15px 0 17px;
}
.sorter li.active {
    background: #cc0000;
    color: #fff;
}
.sorter li.active a {
    color: #fff;
}

.buy_block.market {
    margin-bottom: 10px;
}
.item > a:hover .price span {
    background: #009900;
    border-radius: 3px;
    padding: 0 10px;
    line-height: 25px;
    margin-left: -10px;
}
.item > a:hover .price span.icon {
    background: none;
    margin-right: 0;
    padding: 0;
}


.content_holder .pager_holder {
    width: 100%;
    text-align: center;
}
.pager_holder .arrow {
    height: 30px;
    padding: 0 21px 0 30px;
    font: 14px/30px "PT Sans", sans-serif;
    border-radius: 3px;
    display: inline-block;
}
.pager_holder span.arrow {
    color: #999;
    background: #e6e6e6;
}
.pager_holder a.arrow {
    color: #fff;
    background: #cc0000;
    transition: all 0.1s ease 0.1s;
}
.pager_holder a.arrow:hover {
    background: rgba(204, 0, 0, 0.75);
    cursor: pointer;
}
.pager_holder .pager {
    display: inline-block;
    margin: 0 58px;
}
.pager .input_holder {
    display: inline-block;
    width: 60px;
    margin-right: 9px;
}
.pager .input_holder input {
    text-align: center;
}
.left_sidebar .price label {
    margin: 0 0 30px 0;
    display: inline-block;
}
.left_sidebar .slider_inputs {
    margin: 0 0 15px;
}
.left_sidebar .slider_inputs label {
    width: auto;
    font: normal 14px 'Roboto', sans-serif;
    color: #000;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
}
#main_content .left_sidebar .slider_inputs input {
    width: 68px;
    display: inline-block;
    margin-right: 5px;
}



/* CUSTOM PLUGIN */
.noUi-horizontal {
    height: 10px;
    border: 1px solid #e6e6e6;
    box-shadow: none;
}
.noUi-background {
    background: #e6e6e6;
}
.noUi-horizontal .noUi-handle {
    width: 3px;
    height: 14px;
    border: none;
    background: #cc0000;
    top: -3px;
    box-shadow: none;
    left: 0;
}
.noUi-handle:before, .noUi-handle:after {
    display: none;
}
/*.theme-green .back-bar .selected-bar {
    background-color: #cc0000;
    background-image: -moz-linear-gradient(top, #e12632, #cc0000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e12632), to(#cc0000));
    background-image: -webkit-linear-gradient(top, #e12632, #cc0000);
    background-image: -o-linear-gradient(top, #e12632, #cc0000);
    background-image: linear-gradient(to bottom, #e12632, #cc0000);
}*/
.noUi-connect {
    background: #cc0000;
    box-shadow: none;
}
.noUi-pips div {
    position: absolute;
    font: 10px 'Arial', sans-serif;
    margin: 10px 0 0 -5px;
}
.price .slider_holder {
    background: url('../images/range.png') no-repeat left 2px bottom;
    padding: 0 0 28px;
    background-size: contain;
}

/******* CHAT *********/
#chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    font: 12px 'PT Sans', sans-serif;
    color: #000;
    width: 280px;
    height: 250px;
    z-index: 2;
    overflow: hidden;
    /*display: none;*/
    transition: height 0.5s ease, width 0.5s ease, margin 0.5s ease;
}
#chat.close {
    height: 41px;
}
#chat.modal {
    width: 100%;
    top: auto !important;
    right: auto !important;
    left: auto !important;
    position: relative;
    margin: 60px 0 30px;
    z-index: 0;
}
#chat .input_holder textarea, #msg_input {
    height: 32px;
    /*width: 243px;*/
    width: 100%;
    border-radius: 6px;
}
.chat_header {
    background: #f2f2f2;
    width: 100%;
    padding: 9px 9px 9px 20px;
    line-height: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #d7d7d7;
    cursor: move;
}
#chat.modal .chat_header {
    cursor: default;
}
.chat_header h4 {
    display: inline-block;
    width: 78%;
    font: bold 18px/20px 'Play', sans-serif;
}
#chat .chat_button_holder {
    display: inline-block;
    width: 50px;
    float: right;
}
.chat_button_holder .button {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    background: #666;
    color: #fff;
    text-align: center;
    padding: 1px 0 4px;
    font-size: 12px;
    display: inline-block;
    margin: 0 6px 0 0;
    cursor: pointer;
}
.chat_button_holder .button .fa-plus, .chat_button_holder .button .fa-arrow-up {
    display: none;
}
.chat_button_holder .button:last-child {
    margin-right: 0;
    padding-top: 0;
}
#chat.close .button .fa-minus, #chat.modal .fa-arrow-down {
    display: none;
}
#chat.close .button .fa-plus, #chat.modal .button .fa-arrow-up {
    display: inline-block;
}
#chat footer.input_holder {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0 9px;
    box-sizing: border-box;
    transition: all 1s ease 0.5s;
}
#chat.close footer.input_holder, #chat.close .action_block {
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#chat textarea {
    resize: none;
}
#chat .chat_content {
    height: 163px;
    width: 100%;
    box-sizing: border-box;
    padding: 35px 20px 8px;
    margin: 0 0 46px;
    font: 12px/14px 'PT Sans', sans-serif;
    color: #000;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 1s ease 0.5s;
}
#chat.close .chat_content {
    overflow: hidden;
    height: 0;
}
.chat_content .message_block {
    width: 100%;
    height: 100%;
}
.message_block .message {
    margin: 0 0 10px;
    position: relative;
}
#chat.logged .message:hover {
    background: rgba(204, 0, 0, 0.1);
}
.message_block .message .user {
    text-decoration: underline;
}
.message .report {
    background: #cc0000;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    right: -15px;
    font: 12px 'PT Sans', sanr-serif;
    padding: 1px 6px;
    color: #fff;
    cursor: pointer;
    margin: -9px 0 0;
    display: none;
}
#chat.logged .message:hover .report {
    display: block;
}
#chat .action_block {
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 35%, rgba(255,255,255,0.2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 35%,rgba(255,255,255,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 35%,rgba(255,255,255,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#33ffffff',GradientType=0 ); /* IE6-9 */

    padding: 10px 9px;
    text-align: right;
    transition: all 0.3s ease 0.3s;
    z-index: 1;
}
#chat .action_link {
    display: inline-block;
    padding: 4px 7px;
    background: #666666;
    color: #fff;
    font: 12px/12px 'PT Sans', sans-serif;
    margin: 0 6px 0 0;
    border-radius: 3px;
}
#chat .action_link:last-child {
    margin-right: 0;
}
#chat .action_link.login {
    background: #cc0000;
}



/***** NEWS LIST ******/
#main_content .content_holder.news_list_holder {
    width: 756px;
}
.news_list_holder h1 {
    margin-bottom: 11px;
}
.right_sidebar {
    float: right;
    width: 382px;
}
.right_sidebar .title {
    overflow: hidden;
    margin: 0 0 28px;
    line-height: 26px;
}
.right_sidebar .title h3 {
    display: inline-block;
    font-size: 24px;
    margin: 0 30px 0 0;
    vertical-align: bottom;
    float: left;
}
.right_sidebar .title span {
    display: inline-block;
    vertical-align: bottom;
    float: left;
}
.right_sidebar .title span a {
    color: #cc0000;
    font: 14px 'PT Sans', sans-serif;
    text-decoration: underline;
}
.right_sidebar .title span.right_sorter_link {
    float: right;
    text-transform: uppercase;
}
.right_sidebar .list_block {
    padding: 14px 0 0 2px;
    box-sizing: border-box;
}
.right_sidebar .news_list {
    margin: 0 0 48px;
}
.news_list li {
    overflow: hidden;
    margin: 0 0 21px;
}
.karma {
    width: 50px;
    text-align: center;
    background: #009900;
    color: #fff;
    float: left;
    padding: 0 4px;
    border-radius: 3px;
    margin: 0 14px 0 0;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
}
.news_list .list_content {
    width: 82%;
    float: right;
}
.news_list .list_content h5 {
    font: bold 14px/20px 'PT Sans', sans-serif;
    color: #000;
}
.meta a, .meta a {
    font: 14px 'PT Sans', sans-serif;
    color: #808080;
    margin: 0 16px 0 0;
    vertical-align: top;
}
.meta a span, .meta a span {
    text-decoration: underline;
}
.content_holder .news_list {
    padding: 0 0 8px 5px;
}
.news .karma, .comment .karma {
    background: none;
    color: #000;
    line-height: normal;
    margin: 1px 16px 0 -1px;
}
.karma .change {
    color: #fff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #009900;
    font-size: 10px;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    box-sizing: border-box;
    padding: 0 3px;
}
.karma .change.minus {
    background: #cc0000;
}
.karma .count {
    padding: 6px 0 4px;
    display: inline-block;
    font-size: 24px;
    width: 100%;
}
.news_list .news {
    margin: 0 0 26px;
}
.news .news_content {
    width: 91%;
    float: left;
}
.news_content .image_block {
    width: 100px;
    float: left;
    margin: 0 20px 0 0;
}
.news_content .image_block img {
    width: 100%;
}
.news_content .news_desc {
    width: 82%;
    float: left;
    padding: 10px 0 0;
}
.news_desc h3 {
    font-size: 24px;
    margin: 0 0 9px 1px;
    display: inline-block;
}
.news_desc .content {
    margin: 3px 0 5px;
    font: 14px 'PT Sans', sans-serif;
}
.news_desc .content img {
    width: 100%;
}
.news_desc .content .video {
    width: 560px;
    height: 343px;
    display: block;
    overflow: hidden;
    margin: 0 0 14px;
}
.meta ul, .meta li {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
.news_list .meta li a {
    text-decoration: underline;
    margin: 0;
}
.meta .tags {
    display: inline-block;
    color: #808080;
}
.meta .tags li a {
    margin-right: 2px;
}
.content_holder .more_btn {
    display: inline-block;
    width: 100%;
    padding: 0 6px 0 0;
    box-sizing: border-box;
}
.more_btn button {
    background: #666;
    border: none;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    padding: 0 30px;
    box-sizing: border-box;
    cursor: pointer;
}
.news_top_holder {
    margin: 20px 16px 34px 0;
}
.news_top_holder .image_news {
    width: 240px;
    margin: 0 10px 10px 0;
    position: relative;
    float: left;
}
.news_top_holder .image_news:nth-child(3n) {
    margin-right: 0;
}
.news_top_holder .image_news .image_block, .image_block img {
    width: 100%;
}
.news_top_holder .image_news.full_images {
    width: 100%;
    margin: 0 0 10px;
    float: none;
}
.news_top_holder .news_desc {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 0 10px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    margin: 0;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.news_top_holder .meta {
    margin: 0 0 3px;
}
.news_top_holder .meta a, .news_top_holder h3 {
    color: #fff;
    font: 14px'PT Sans', sans-serif;
}
.news_top_holder .meta a {
    margin-right: 15px;
}
.news_top_holder .meta a:last-child {
    margin-right: 0;
}
.news_top_holder .meta a span {
    text-decoration: underline;
}
.news_top_holder h3 {
    font-weight: bold;
    line-height: 17px;
}
.news_top_holder .full_images .news_desc {
    padding-bottom: 4px;
}
.news_top_holder .full_images h3 {
    font: bold 24px 'Play', sans-serif;
    width: 80%;
}
.news_top_holder .full_images .meta {
    margin-bottom: 8px;
}
.article_content {
    padding: 22px 0 14px;
    width: 100%;
    box-sizing: border-box;
    font: 14px/17px 'PT Sans', sans-serif;
}
.article_content p {
    margin: 0 0 19px;
}
.article_content img {
    max-width: 100%;
}
.article_content h5 {
    margin: 0 0 20px;
}
.article_content ul li {
    margin: 0 0 14px;
    position: relative;
    line-height: 18px;
}
.article_content ul li:before {
    content: '\f046';
    font: 22px 'FontAwesome';
    color: #cc0000;
    margin: 0 10px 0 0;
    display: inline-block;
    vertical-align: top;
}
.article_content a {
    color: #cc0000;
    text-decoration: underline;
}
.action_block {
    background: #e6e6e6;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}
.action_block .title h5 {
    color: #cc0000;
    text-transform: uppercase;
}
.action_block .rate_holder {
    float: left;
    width: 39%;
    box-sizing: border-box;
    padding: 14px 20px 0 0;
}
.rate_holder .rate {
    font: bold 36px 'Play', sans-serif;
    margin: 9px 0 0;
}
.rate_holder .rate .count {
    margin: 0 31px;
}
.rate_holder .rate .change {
    width: 32px;
    height: 32px;
    color: #fff;
    background: #009900;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    display: inline-block;
    font-size: 28px;
}
.rate_holder .rate .change.minus {
    background: #cc0000;
}
.action_block .social_block {
    box-sizing: border-box;
    width: 60%;
    float: left;
    padding: 14px 20px 7px;
    border-left: 1px solid #d7d7d7;
}
.social_block .social {
    margin: 14px 0 0;
}
.social_block .social li {
    display: inline-block;
    margin: 0 2px 0 0;
}
.social_block .social li:last-child {
    margin-right: 0;
}
.social_block .social li a {
    display: block;
    background: url('../images/social_sprite.png') no-repeat 0 0;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}
.social li a.fb {
    background-position: -45px 0;
}
.social li a.tw {
    background-position: -90px 0;
}
.social li a.google {
    background-position: -135px 0;
}
.social li a.mail_ru {
    background-position: -180px 0;
}
.social li a.email {
    background-position: -225px 0;
}
.social li a.add {
    background-position: -270px 0;
}
.news_top_holder.similar_news {
    margin-right: 0;
}
.similar_news .image_news {
    width: 245px;
}
.comments_holder {
    width: 100%;
}
.comment {
    margin: 0 0 7px;
    width: 100%;
    box-sizing: border-box;
}
.comment .karma {
    margin-top: -4px;
    margin-right: 0;
}
.comment .karma .count {
    font-size: 18px;
    padding: 0;
    line-height: 18px;
}
.comment .comment_content {
    width: 706px;
    float: left;
}
.comment .comment_title {
    background: #f2f2f2;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 0 0;
}
.comment_content .image_block {
    width: 50px;
    height: 100%;
    float: left;
}
.comment_content .image_block img {
    width: 100%;
    display: block;
}
.comment_title h5 {
    padding: 15px 20px 15px 20px;
    display: inline-block;
    float: left;
    width: 70%;
    box-sizing: border-box;
}
.comment_title .date {
    font: 14px/18px 'PT Sans', sens-serif;
    color: #808080;
    float: right;
    width: 20%;
    text-align: right;
    box-sizing: border-box;
    padding: 16px 0 0;
}
.comment .desc {
    padding: 17px 0 8px;
    font: 14px/18px 'PT Sans', sans-serif;
}
.comment.answer {
    padding: 0 0 0 50px;
}
.comment.answer .comment_content {
    width: 657px;
}
.comment_form.error, .error_block {
    margin: 37px 0 0;
    width: 100%;
    box-sizing: border-box;
    background: #f2f2f2;
    padding: 16px 20px 20px 20px;
    border:  none;
}
.error .image_block {
    display: inline-block;
    vertical-align: middle;
    color: #cc0000;
    font-size: 30px;
    width: 5%;
    margin: 0 10px 0 0;
}
.error .error_desc {
    display: inline-block;
    vertical-align: middle;
    width: 93%;
    font: 14px/18px 'PT Sans', sans-serif;
}
.error .error_desc h3 {
    margin-bottom: 0;
}
.error .error_desc a {
    color: #cc0000;
    text-decoration: underline;
}
.comment_form, .support_form {
    border: 1px solid #d7d7d7;
    width: 100%;
    box-sizing: border-box;
    margin: 37px 0 0;
}
.comment_form .title, .support_form .title {
    background: #f2f2f2;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}
.comment_form .title h5, .support_form .title h5 {
    margin: 0;
}
.comment_form .form, .support_form .form {
    padding: 25px 29px 29px;
    box-sizing: border-box;
    background: #fff;
    font: 14px/18px 'PT Sans', sans-serif;
}
.form textarea {
    width: 100%;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    color: #666666;
    height: 138px;
    box-sizing: border-box;
    padding: 10px 40px 10px 10px;
    margin: 0 0 30px;
}
.form label {
    margin: 0 0 7px;
    display: inline-block;
    width: 100%;
}
.form .button, .btn.button.btn-primary, #enabled_push_notifications.btn-primary  {
    border: none;
    background: #cc0000;
    color: #fff;
    padding: 8px 17px 8px 21px;
    line-height: 14px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease 0.2s;
}
.form .button:hover {
    background: rgba(204, 0, 0, 0.8);
}
.news_article {
    margin: 0 0 68px;
}
#header_profile .steam_holder {
    display: block;
    margin: 11px 0 0;
}
 .steam_block {
    display: inline-block;
    background: rgb(95,185,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(95,185,0,1) 0%, rgba(23,111,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(95,185,0,1) 0%,rgba(23,111,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(95,185,0,1) 0%,rgba(23,111,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fb900', endColorstr='#176f00',GradientType=0 ); /* IE6-9 */
    width: 208px;
    box-sizing: border-box;
    padding: 12px 15px 9px 14px;
    border-radius: 3px;
    text-align: left;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}
.steam_block .logo {
    width: 63px;
    margin: 0 8px 0 0;
    float: left;
}
.steam_block .text {
    width: 100px;
    float: left;
    color: #fff;
    font: 14px/16px 'Play', sans-serif;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}
.steam_block .text strong, .steam_block .text b {
    font-size: 18px;
    text-transform: uppercase;
}


#main_content .site-error h1 {
    color: #cc0000;
    text-align: center;
    padding: 100px 0;
    font-size: 50px;
    text-transform: uppercase;
}


/******* SUPPORT PAGE ************/
.right_sidebar .account_list {
    margin: 53px 0 0;
}
.account_list li {
    margin: 0 0 20px;
}
.account_list li a {
    color: #cc0000;
    font: 16px/18px 'PT Sans', sans-serif;
}
.account_list li span {
    text-decoration: underline;
}
#main_content .content_holder.account {
    width: 770px;
    margin-right: 50px;
}
#main_content .content_holder.account + .right_sidebar {
    width: 340px;
}
.support_form {
    margin-top: 0;
}
.support_form .form {
    padding-bottom: 10px;
}
.support_form .input_holder {
    margin: 0 0 25px;
}
.support_form .input_holder textarea {
    margin-bottom: 0;
}
.checkbox_holder {
    position: relative;
}
.checkbox_holder label, .checkbox_holder input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
}
#main_content .checkbox_holder input[type=checkbox] {
    width: 0;
    height: 0;
    opacity: 0;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.checkbox_holder input[type=checkbox]  + label {
    line-height: 20px;
    margin-bottom: 0;
}
.checkbox_holder input[type=checkbox]  + label:before {
    content: ' ';
    width: 20px;
    height: 20px;
    border: 1px solid #d7d7d7;
    background: #fff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    margin: -3px 20px 0 0;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
.checkbox_holder input[type=checkbox]:checked  + label:before {
    content: '\f00c';
    color: #009900;
    font: 14px/18px 'FontAwesome';
    text-align: center;
    padding: 0 0 0 2px;
}
.input_holder label a {
    color: #cc0000;
    text-decoration: underline;
}
.checkbox_holder label a {
    text-transform: capitalize;
}
.faq_block {
    margin: 26px 0 30px;
}
.faq_block .faq_list {
    margin: 22px 0 0;
}
.faq_list .item {
    margin: 0 0 12px;
    font: 14px/18px 'PT Sans', sans-serif;
}
.faq_list .question {
    color: #cc0000;
    cursor: pointer;
}
.faq_list .question span {
    text-decoration: underline;
}
.faq_list .answer {
    padding: 8px 0 0 18px;
    display: none;
}
.faq_list .answer.active {
    height: auto;
    opacity: 1;
}


/********************DISCOUNT PAGE********/
#main_content .page_desc {
    font: 14px/18px 'PT Sans', sans-serif;
}
#main_content .page_desc p {
    margin: 0 0 10px;
    display: inline-block;
}
#main_content .discount_table {
    margin: 20px 0 0;
}
#main_content table {
    width: 100%;
    border: 1px solid #d7d7d7;
}
#main_content th, #main_content td {
    box-sizing: border-box;
    padding: 10px 10px 8px;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}
#main_content th:last-child, #main_content td:last-child {
    border-right: 0;
}
#main_content th {
    background: #f2f2f2;
    font: bold 18px 'PT Sans', sana-serif;
}
#main_content td {
    font: bold 20px 'Play', sans-serif;
}
.discount_table th {
    text-align: left;
}
.discount_table th:nth-child(odd), .discount_table td:nth-child(odd) {
    text-align: right;
}
.column_holder {
    margin: 50px 0 60px;
}
.column_holder .column {
    width: 48%;
    margin: 0 4% 0 0;
    float: left;
}
.column_holder .column:nth-child(2n) {
    margin-right: 0;
}
.column table th, .column table td {
    text-align: left;
    padding: 10px 5px 9px;
}
.column table th:last-child, .column table td:last-child {
    text-align: center;
}
.column p {
    font: 12px 'PT Sans', sans-serif;
}


/* DASHBOARD PAGE */
#main_content .main {
    margin: 0 0 50px;
}
.content_holder .good_card {
    margin: 29px 0 0;
    border: 1px solid #d7d7d7;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    text-align: center;
}
.good_card h3 {
    color: #cc0000;
    display: inline-block;
}
.good_card .image_block {
    width: 100%;
    margin: 20px 0 0;
    position: relative;
}
.good_card .image_block img {
    display: inline-block;
    width: auto;
    height: auto;
}
.good_card .good_desc {
    position: absolute;
    width: 175px;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
}
.good_card .good_desc strong {
    font-weight: bold;
}
.good_desc.top_left, .good_desc.bottom_left {
    left: 20px;
    text-align: right;
}
.good_desc.top_right, .good_desc.bottom_right {
    right: 20px;
    text-align: left;
}
.good_desc.top_left, .good_desc.top_right {
    top: 9%;
}
.good_desc.bottom_left.price {
    bottom: 14%;
}
.good_desc.bottom_left.best_price {
    top: 56%;
}
.good_desc.bottom_right {
    bottom: 11%;
}
.good_card .desc {
    margin: 30px 0 10px;
}
.desc .items_holder {
    margin: 20px 0 0;
}
.desc .items_holder span {
    display: inline-block;
    margin: 0 30px 0 0;
    font: 14px/30px 'PT Sans', sans-serif;
    vertical-align: middle;
}
.items_holder span i {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 3px 0 0;
}
.items_holder span.high_chance i {
    color: #5cbb5c;
}
.items_holder span.low_chance i {
    color: #ffc11a;
}
.items_holder span.no_chance i {
    color: #e05353;
}
.buy_block .add_good {
    background: #cc0000;
    height: 93px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    color: #fff;
    font-size: 30px;
}
.add_good h6 {
    color: #fff;
    margin-top: 5px;
}
.buy_block.sell .title_block h3 {
    width: 47%;
}
.buy_block.sell .title_block .button_holder {
    display: inline-block;
    float: right;
}
.sell .button_holder .button {
    background: #6f6f6f;
    font: 14px/30px 'PT Sans', sans-serif;
    padding: 0 22px;
    border-radius: 3px;
    margin: 0 0 0 5px;
    color: #fff;
    border: none;
}

/****** SETTINGS **********/
.settings_block {
    margin: 22px 0 3px;
    padding: 0 0 30px;
    border-bottom: 1px solid #d7d7d7;
}
.settings_block:last-child {
    border: none;
}
/*.settings_block .label_holder {
    margin: 0 0 16px;
}*/
.settings_block h5 {
    display: inline-block;
    margin: 0 40px 16px 0;
}
.settings_block .label_holder a {
    display: inline-block;
    color: #cc0000;
    font-family: 'PT Sans', sans-serif;
    text-decoration: underline;
    font-weight: normal;
}
.settings_block .row {
    margin: 0 0 35px;
}
.settings_block .row:last-child {
    margin-bottom: 0;
}
.settings_block .radio_holder label, .checkbox_holder label {
    display: inline-block;
    margin: 0 50px 0 0;
    position: relative;
}
.radio_holder input[type='radio'],
.checkbox_holder input[type='checkbox'] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
}
.radio_holder input[type='radio'] + label,
.checkbox_holder input[type='checkbox'] + label {
    font: normal 14px/20px 'PT Sans', sans-serif;
    position: relative;
    padding: 0 0 0 30px;
}
.radio_holder input[type='radio'] + label:before,
.checkbox_holder input[type='checkbox'] + label:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 0 2px 1px 2px;
    z-index: 1;
}
.radio_holder input[type='radio']:checked + label:before,
.checkbox_holder input[type='checkbox']:checked + label:before {
    content: '\f0c8';
    font: 16px/20px 'FontAwesome';
    color: #cc0000;
    display: inline-block;
    text-align: center;
}
.settings_block .row p {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    margin: 0 0 19px;
}
.settings_block .row .button {
    padding: 6px 21px;
    border: none;
    border-radius: 3px;
    background: #6f6f6f;
    color: #fff;
    font: 14px 'PT Sans', sans-serif;
}
.input_holder label, .input_holder > span {
    margin: 0 0 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    display: inline-block;
    width: 100%;
}
#main_content .input_holder input[type='email'] {
    width: 59%;
    display: inline-block;
    margin: 0 5px 0 0;
}


/******* INPUT/OUTPUT MONEY ***********/
.account .support_form.with_margin {
    margin: 0 0 30px;
}
#input_money .radio_holder,
#output_money .radio_holder {
    width: 150px;
    display: inline-block;
    margin: 0 6px 0 0;
    height: 80px;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    overflow: hidden;
    position: relative;
}
#input_money .radio_holder:last-child,
#output_money .radio_holder:last-child {
    margin-right: 0;
}
#input_money .radio_holder label,
#output_money .radio_holder label {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
#input_money .radio_holder input[type='radio'],
#output_money .radio_holder input[type='radio'] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    width: 0;
    height: 0;
}
#input_money .radio_holder input[type='radio'] + label:before,
#output_money .radio_holder input[type='radio'] + label:before {
    content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: none;
    padding: 0;
    border: none;
    border-radius: 0;
    opacity: 0.2;
}
#input_money .radio_holder #yandex + label:before,
#output_money .radio_holder #output_yandex + label:before {
    background: #fff url('../images/icon_yandex.jpg') no-repeat center center;
}
#input_money .radio_holder #visa + label:before,
#output_money .radio_holder #output_visa + label:before {
    background: #fff url('../images/icon_visa.jpg') no-repeat center center;
}
#input_money .radio_holder #web_money + label:before,
#output_money .radio_holder #output_web_money + label:before {
    background: #fff url('../images/icon_web_money.jpg') no-repeat center center;
}
#input_money .radio_holder input[type='radio']:checked + label:before,
#output_money .radio_holder input[type='radio']:checked + label:before {
    opacity: 1;
}
#money_input {
    width: 170px;
    margin: 0 7px 0 0;
    display: inline-block;
}
.support_form .info {
    margin: 0 0 30px;
}
.support_form .info li {
    margin: 0 0 10px;
}
.input_holder.inline label, .input_holder.inline input[type='text'], .input_holder.inline span {
    display: inline-block;
    vertical-align: middle;
}
.input_holder.inline label {
    margin: 0 14px 0 0;
    width: auto;
}
.input_holder.inline span {
    width: auto;
    margin: 0 18px 0 0;
    vertical-align: bottom;
}
.input_holder.inline span.price {
    margin-right: 0;
    font: bold 24px 'Play', sans-serif;
}
.input_holder.inline input[type='text'] {
    width: 130px;
}
#account {
    width: 260px;
}
.form .checkbox_holder {
    margin: 0 0 25px;
}
.checkbox_holder input[type='checkbox'] + label:before {
    top: 3px;
}
.checkbox_holder input[type='checkbox']:checked + label:before {
    content: '\f00c';
}


/* GOOD DETAILS */
#main_content .good_content .left_sidebar {
    width: 360px;
    border: none;
}
.left_sidebar .good_info {
    border: 1px solid #d7d7d7;
    padding: 19px;
    box-sizing: border-box;
    text-align: center;
}
.left_sidebar .good_info .image_block img {
    display: block;
}
.good_info .price_block {
    margin: 23px 0 0;
}
.price_block .help_block {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    margin: 0 0 12px;
}
.good_info a {
    color: #cc0000;
    text-decoration: underline;
}
.price_block .discount {
    display: inline-block;
    width: 100%;
    margin: 0 0 7px;
    font: bold 18px/22px 'PT Sans', sans-serif;
}
.price_block .price {
    font-size: 38px;
    line-height: 40px;
    margin: 0 0 15px;
    width: 100%;
    display: inline-block;
}
.good_info .button {
    font: bold 18px/30px 'Play', sans-serif;
    padding-top: 0;
    padding-bottom: 0;
}
.good_info .button i {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
}
.good_info .button span {
    display: inline-block;
    vertical-align: middle;
}
.notification_block {
    margin: 20px 0 0;
    border: 1px solid #d7d7d7;
    width: 100%;
    padding: 0 19px 19px;
    box-sizing: border-box;
    background: #f2f2f2;
}
.notification_block .notification {
    border-bottom: 1px solid #d7d7d7;
    padding: 12px 10px 9px;
}
.notification .icon {
    color: #cc0000;
    width: 22px;
    margin: 0 12px 0 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
}
.notification .title {
    width: 140px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    margin: 0 18px 0 0;
}
.notification h5 {
    text-transform: uppercase;
}
.notification .input_holder {
    width: 100px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}
.notification .input_holder input {
    width: 80px;
    margin: 0 5px 0 0;
}
.notification .input_holder input, .notification .input_holder label {
    display: inline-block;
    vertical-align: middle;
}
.notification .input_holder label {
    width: auto;
    margin: 0;
    font: bold 18px 'Play', sans-serif;
}
.notification_block .button_holder {
    text-align: center;
    margin: 20px 0 0;
}
.notification_block .button_holder .button {
    min-width: 150px;
    box-sizing: border-box;
    padding: 4px 15px 5px;
    border-radius: 3px;
    background: #666;
    color: #fff;
    font: bold 18px 'Play', sans-serif;
    text-transform: uppercase;
    cursor: not-allowed;
    border: none;
}
.button_holder .button.active {
    cursor: pointer;
    background: #cc0000;
    transition: 0.3s ease 0s;
}
.button_holder .button.active:hover {
    background: rgba(204, 0, 0, 0.8);
}
.input_holder.swap_block {
    margin: 20px 0 0;
    background: #e6e6e6;
    border-radius: 3px;
    padding: 15px 20px 20px;
}
.swap_block label {
    margin-bottom: 5px;
}
#main_content .good_content .content_holder {
    width: 770px;
}
#main_content h1.good_name {
    margin: 15px 0;
}
.content_holder .tags_list {
    margin: 0 0 20px;
}
.tags_list li {
    display: inline-block;
    padding: 5px 11px;
    border-radius: 3px;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    margin: 0 6px 0 0;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.tags_list li:last-child {
    margin-right: 0;
}
.tags_list li span {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
}
.content_holder .good_desc {
    font: normal 14px/20px 'PT Sans', sans-serif;
    margin: 0 0 20px;
}
.good_content .table_holder {
    margin: 0 0 30px;
}
.good_content table {
    text-align: center;
}
table#statistic {
    width: 600px;
}
table#auto_buy {
    width: 340px;
}
#auto_buy tbody tr:nth-child(1) td {
    font-size: 24px;
}
#auto_buy tbody tr:nth-child(2) td {
    font-size: 22px;
}
#auto_buy tbody tr:nth-child(3) td {
    font-size: 20px;
}
#auto_buy tbody tr:nth-child(4) td {
    font-size: 18px;
}
#auto_buy tbody tr td {
    font-size: 16px;
}

/* PURCHASE PAGE */
#main_content .content_holder.one_column {
    width: 100%;
}
.content_holder .error_block.short {
    width: 600px;
    box-sizing: border-box;
}
.content_holder .error_block.short .error_desc {
    width: 92%;
}
.content_holder .content_block {
    margin: 35px 0 44px;
}
.content_block .lists_holder {
    margin: 23px 0 0;
}
.lists_holder .form {
    width: 360px;
    float: left;
    padding: 25px 30px 29px 29px;
    box-sizing: border-box;
    margin: 0 30px 0 0;
    font: 14px/20px 'PT Sans', sans-serif;
    text-align: center;
}
.lists_holder .form:last-child {
    margin-right: 0;
}
.lists_holder .form.with_bg {
    border: 1px solid #d7d7d7;
    background: #f2f2f2;
}
.lists_holder .form h5 {
    text-transform: uppercase;
}
.lists_holder ul {
    margin: 20px 0 10px;
    text-align: left;
    overflow: auto;
}
.lists_holder li {
    padding: 0 0 0 40px;
    margin: 0 0 20px 0;
    position: relative;
    line-height: 17px;
}
.lists_holder li:before {
    content: '\f046';
    font: 22px 'FontAwesome';
    color: #cc0000;
    position: absolute;
    top: 0;
    left: 0;
}
.lists_holder .form.with_bg .button, .check_holder .button {
    display: inline-block;
    min-width: 180px;
}
.lists_holder .form.with_bg .button {
    background: #666;
    text-align: center;
}
.lists_holder .form li .input_holder {
    padding: 3px 0 0;
}
.lists_holder .input_holder input {
    height: 40px;
}
.form .check_holder {
    padding: 0 0 29px;
    border-bottom: 1px solid #d7d7d7;
    margin: 0 0 23px;
}
.form .check_holder:last-child {
    border: none;
}
.form .check_holder h5 {
    margin: 0 0 5px;
}
.form .check_holder p {
    margin: 0 0 8px;
    line-height: 18px;
}
.lists_holder .list {
    width: 520px;
    float: left;
    margin: 0 50px 0 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
}
.lists_holder .list:nth-child(2n) {
    margin-right: 0;
}
.lists_holder .list strong {
    font-weight: bold;
}
h3.red {
    color: #cc0000;
}

/* TICKETS PAGE */
.tickets_holder .ticket .form {
    padding: 0;
}
.tickets_holder .message_block {
    border-bottom: 1px solid #d7d7d7;
    padding: 20px;
}
.tickets_holder .form .button_holder {
    text-align: right;
    padding: 20px;
}
.tickets_holder .add_message_block {
    padding: 20px;
}
.tickets_holder .add_message_block .button_holder {
    padding: 0;
    text-align: left;
}
.message_block .name {
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 5px;
}

/**************************************/

/************ CS BLOCK ************/
#cs #wrapper {
    background: #050715;
}
#cs #main_bg {
    background-image: url('../images/cs_main_bg.png');
}
#cs #header {
    background-image: url('../images/cs_header_bg.png');
}
#cs .left_sidebar .search_block .submit_search {
    background: #ffc000;
    color: #000;
}
#cs .noUi-connect {
    background: #ffc000;
}
#cs .noUi-horizontal .noUi-handle {
    background: #ffc000;
}
#cs .sorter li.active {
    background: #ffc000;
    color: #000;
}
#cs .sorter li:hover {
    background: rgba(255, 192, 0, 0.1);
}
#cs .pager_holder a.arrow {
    background: #ffc000;
    color: #000;
}
#cs .pager_holder a.arrow:hover {
    background: rgba(255, 192, 0, 0.75);
}
#cs .buy_block span.buy_icon {
    background: #ffc000;
    color: #000;
}
#cs .buy_block.buy_history .title_block .show_all {
    color: #003366;
}
#cs #chat .action_link.login,
#cs .message .report {
    background: #ffc000;
    color: #000;
}
#cs #chat.logged .message:hover {
    background: rgba(255, 192, 0, 0.1);
}
#cs .good_info a {
    color: #003366;
}
#cs .form .button {
    background: #ffc000;
    color: #000;
}
#cs .notification .icon {
    color: #003366;
}
#cs .right_sidebar .title span a {
    color: #003366;
}
#cs .sorter li.active a {
    color: #000;
}
#cs .article_content ul li:before {
    color: #003366;
}
#cs .article_content a {
    color: #003366;
}
#cs .action_block .title h5 {
    color: #003366;
}
#cs .error .image_block {
    color: #003366;
}
#cs .account_list li a {
    color: #003366;
}
#cs .good_card h3 {
    color: #003366;
}
#cs .error .error_desc a {
    color: #003366;
}
#cs .buy_block .add_good {
    background: #ffc000;
    color: #000;
}
#cs .add_good h6 {
    color: #000;
}
#cs .lists_holder li:before {
    color: #003366;
}
#cs h3.red {
    color: #003366;
}
#cs .settings_block .label_holder a {
    color: #003366;
}
#cs .radio_holder input[type='radio']:checked + label:before,
#cs .checkbox_holder input[type='checkbox']:checked + label:before {
    color: #003366;
}
#cs .input_holder label a {
    color: #003366;
}
#cs .faq_list .question {
    color: #003366;
}
#cs #main_content .site-error h1 {
    color: #003366;
}

/**************************************/

/* discount fix */
.discount_table table {
    width: 50% !important;
}
.table_discounts {
    float: left;
}

/* end discount fix */

/* fix support */

#tickets-theme_id {
    -webkit-appearance: menulist;
    width: 100%;
    height: 30px;
}
#tickets-checkbox {
    -webkit-appearance: checkbox;
}
#create_ticket_btn:disabled {
    background: #dddddd;
}
/* end fix support */
.message_block .spam_message {
    color: red !important;
}
.fa.fa-sign-out
{
    color: white;
    font-size: 22px;
}


#popup-stop-trade {
    color: #2D2D2D;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.modal-stop-trade h4 {
    padding: 20px 0;
}
.panel-success > .panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.panel-body {
    padding: 15px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.desc li {
    display: inline-block;
}
#notifications_block {
    position: absolute;
    top: 88px;
    width: 146px;
    z-index: 2;
    margin: 0;
    padding: 7px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #fff;

}
#notifications_block li {
    display: block;
    text-align: left;
    padding: 13px;
    font-size: 10px;
    color: #000000;
    text-shadow: none;
}
#popup-stop-trade
{
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border: 1px #C5C5C5 solid;
    background: #fff;
    position: fixed;
    box-shadow: 0px 0px 9px #131313;
    top: 45%;
    display: none;
    opacity: 0;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    z-index: 5;
    padding: 20px 10px;
}
#popup-stop-trade .close-modal-stop-trade {
    width: 21px;
    height: 21px;
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
#overlay {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}

.button, .radio_holder label{
    cursor:pointer;
}